@page "/"
@using CQRS.Mediatr.Lite
@using Events.Commands
@using Events.Queries
@using ModelInterface.Factories
@using ModelInterface.Interface

@inject ICommandBus CommandBus
@inject IQueryService QueryService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        try
        {
            var product = ProductFactory.CreateProduct("in2dia", "Pdesc", 100, 5);

            IssuedCmd<IProduct> cmd = new(product);
            // PurchaseProductCmd command = new(product);
            IdCommandResult result = CommandBus.Send(cmd).Result;
            // IdCommandResult result = CommandBus.Send(command).Result;

            product = ProductFactory.CreateProduct("india", "Pdesc", 100, 5);

            command = new(product);
            result = CommandBus.Send(command).Result;

            GetProductsQuery query = new();
            IEnumerable<IProduct> products = await QueryService.Query(query);
            products.ToList().ForEach(p => Console.WriteLine(p.Name));
            if (products is not null && products.Any())
            {
                foreach (var p in products)
                {
                    var evaresult = Evaluation.Evaluator<IProduct>.Evaluate(p);
                }
            }
        }
        catch (Exception e)
        {
            throw;
        }
    }
}